<div id="carouselExampleAutoplaying" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/new_arrivals.jpg" class="d-block w-100" alt="Photo 1">
      </div>
      <div class="carousel-item">
        <img src="assets/images/gold.jpg" class="d-block w-100" alt="Photo 2">
      </div>
      <div class="carousel-item">
        <img src="assets/images/diamond.jpg" class="d-block w-100" alt="Photo 3">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleAutoplaying" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleAutoplaying" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
  
   <!-- <div id="wowslider-container1">
    <div class="ws_images"><ul>
        <li><img src="assets/images/new_arrivals.jpg" alt="Lake"  id="wows1_0"/></li>
        <li><img src="assets/images/gold.jpg" alt="Landscape"  id="wows1_1"/></li>
        <li><img src="assets/images/diamond.jpg" alt="Sunset"  id="wows1_2"/></li>
      </ul></div>
      <div class="ws_bullets"><div>
        <a href="#" ><span><img src="assets/images/new_arrivals.jpg" alt="Lake"/>1</span></a>
        <a href="#"><span><img src="assets/images/gold.jpg" alt="Landscape"/>2</span></a>
        <a href="#" ><span><img src="assets/images/diamond.jpg" alt="Sunset"/>3</span></a>
      </div></div>
    <div class="ws_shadow"></div>
    </div> -->