.gradient-custom-2 {
    background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));
  }
  
  .bg-indigo {
    background-color: #4835d4;
  }
  
  .card-registration {
    border-radius: 15px;
  }
  
  .form-outline .form-control {
    height: calc(2.75rem + 2px);
    padding: 0.5rem;
  }
  
  .form-outline .form-label {
    top: -0.5rem;
    left: 0.75rem;
    font-size: 0.875rem;
    transition: all 0.3s ease;
  }
  