<div class="do-main-wrap">
    <section id="estore" class="bordered pb-5 d-block d-md-block d-lg-none d-xl-none"></section>
  
    <section id="muhrat" class="bordered pb-5">
      <div class="container">
        <div class="row1 justify-content-center" >
          <div class="col-lg-12 text-center">
            <div class="do-heading do-lined">
              <h1>
                
                MUHURAT
                
              </h1>
            </div>
            <div class="text-center mw-75 mx-auto">
              <p>
                Weddings are a deep-rooted element of our society, and Indian brides are known as symbols of beauty, pride and elegance. India is a vast country with different customs and traditions practiced even within the same state. Yet, there is something that unites us all - the
                <strong>Muhurat</strong>
                or the auspicious time for celebration. At <a href="https://www.jewelix.com" target="_blank" class="jewelix-link">Jewelix Jewellers</a>, we embrace the importance of every "Muhurat". Our wedding collections are for every bride, from every part of India.
              </p>
            </div>
            <div class="row1 pt-4">
              <div class="col-xl-8 col-lg-12">
                <div>
                  <iframe controls autoplay width="560" height="400" src="https://youtu.be/embed/kkIkD8bsT9c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-xl-4 col-lg-12">
                <div class="swiper-slide tn-mx-auto swiper-slide-next" role="group" aria-label="2 / 3" style="width: 342px; margin-right: 60px;" data-swiper-slide-index="1">
                    <a href="www.jewelix.com">
                        <div class="box tn-w-[330px] tn-border tn-border-white tn-overflow-hidden tn-rounded-t-full">
                            <img src="https://staticimg.tanishq.co.in/microsite/dailywear/assets-new/images/last-section/book-an-appointment.jpg" class="tn-w-full" alt="">
                            <div class="tn-my-8 tn-flex tn-justify-center tn-items-center">
                                <p class="tn-text-center tn-font-[500] tn-text-white abhaya-libre tn-leading-7 md:tn-leading-9 tn-text-[24px]">Book An Appointment</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  